<div class="container p-0 m-0">
  <div class="row row-cols-3 m-0">
    <div class="col-8 p-0 m-0 border bg-light">
<div class="bg-light">
<img src="https://cdn.pixabay.com/photo/2016/01/14/06/09/woman-1139397_960_720.jpg" class="cover-pic" alt="girl">
<div class="card-body">
<h6 class="pb-0 mb-0"> Tweets </h6>
</div>
</div>
</div>

    <div class="col p-0 m-0 border bg-light">

<div class="container p-0 m-0">
  <div class="row row-cols-4 p-0 m-0 ">
    <div class="col-12 border bg-light text-center py-4"><img src="https://blogimg.goo.ne.jp/user_image/23/96/b6f920c687a5f135faef949c4731ef69.jpg" alt="..." class="rounded-circle img-res ">
    <p class="font-weight-bold"> olawalessffg cyrus</p>
    <button type="button" class="btn btn-primary btn-sm">follow a user</button>
    </div>

    <div class="col-4 border bg-light">
    <p class="font-weight-bolder"> 6000 </p>
    <p class="font-italic"> Tweets </p>
    </div>

    <div class="col-4 border bg-light">
    <p class="font-weight-bolder"> 500 </p>
    <p class="font-italic"> following </p>
    </div>

    <div class="col-4 border bg-light">
    <p class="font-weight-bolder"> 12M </p>
    <p class="font-italic"> followers </p>
    </div>
  </div>
</div>

<div class="card align-self-stretch">
    <div class="card-header pb-0">
        <p class="font-weight-bolder text-muted">FOLLOWED BY</p>
    </div>
 <div class="card-body d-flex">
    <img src="https://blogimg.goo.ne.jp/user_image/23/96/b6f920c687a5f135faef949c4731ef69.jpg" alt="" class="img-res">
   <div><h4> name </h4>
    <p>yufiyufufifuufiuifjeijieuiuifufyvfcfc</p></div>
  </div>
 </div>
    </div>

    <div class="col-8 p-4 border bg-light">
<div class="card">
<div class="card-body">
    <h3> New Tweet </h3>
    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..."></div>

  <div class="card-header">
    <h6 class="text-center"> Featured</h6>
  </div>
  <div class="card-body d-flex">
    <img src="https://blogimg.goo.ne.jp/user_image/23/96/b6f920c687a5f135faef949c4731ef69.jpg" alt="" class="img-res">
    <div><h4> name </h4>
    <p>yufiyufufifuufiuifjeijieuiuifufyvfcfc</p></div>
  </div><hr>
  <div class="card-body d-flex">
    <img src="https://blogimg.goo.ne.jp/user_image/23/96/b6f920c687a5f135faef949c4731ef69.jpg" alt="" class="img-res">
    <div><h4> name </h4>
    <p>yufiyufufifuufiuifjeijieuiuifufyvfcfc</p></div>
  </div><hr>
  <div class="card-body d-flex">
    <img src="https://blogimg.goo.ne.jp/user_image/23/96/b6f920c687a5f135faef949c4731ef69.jpg" alt="" class="img-res">
    <div><h4> name </h4>
    <p>yufiyufufifuufiuifjeijieuiuifufyvfcfc</p></div>
  </div><hr>
  <div class="card-body d-flex">
    <img src="https://blogimg.goo.ne.jp/user_image/23/96/b6f920c687a5f135faef949c4731ef69.jpg" alt="" class="img-res">
    <div><h4> name </h4>
    <p>yufiyufufifuufiuifjeijieuiuifufyvfcfc</p></div>
  </div><hr>
  <div class="card-body d-flex">
    <img src="https://blogimg.goo.ne.jp/user_image/23/96/b6f920c687a5f135faef949c4731ef69.jpg" alt="" class="img-res">
    <div><h4> name </h4>
    <p>yufiyufufifuufiuifjeijieuiuifufyvfcfc</p></div>
  </div><hr>
  <div class="card-body d-flex">
    <img src="https://blogimg.goo.ne.jp/user_image/23/96/b6f920c687a5f135faef949c4731ef69.jpg" alt="" class="img-res">
   <div><h4> name </h4>
    <p>yufiyufufifuufiuifjeijieuiuifufyvfcfc</p></div>
  </div><hr>
  <div class="card-footer text-muted text-center">
    see more...
  </div>
</div>
</div>
    </div>
  </div>
</div>